* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto Mono', monospace;
  background-color: aliceblue;
}
a {
  text-decoration: none;
  color: black;
}

h1.h1 {
  text-align: center;
  font-size: 3.4rem;
  margin: 15px auto 10px;
}
h2.h2 {
  font-size: 2.9rem;
}
.home p {
  font-size: 1.6rem;
  line-height: 27px;
}

div.home {
  width: 55%;
}

ul {
  list-style: none;
}

nav {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 10px black;
  z-index: 9;
  position: fixed;
  width: 100%;
}

.container {
  max-width: 1500px;
  width: 80%;
  margin: 0 auto;
}

.navContainer,
ul.nav {
  display: flex;
  align-items: center;
}
.navContainer {
  justify-content: space-between;
}

.nav-item {
  font-size: 1.8rem;
  padding: 20px 20px 18px;
  transition: all 0.3s ease-in-out;
  display: block;
}

ul .nav-item {
  padding: 20px 25px 18px;
  margin-right: 15px;
}

.nav-item:hover {
  background-color: rgba(128, 128, 128, 0.432);
}

div.logo {
  background-color: transparent;
  font-weight: bold;
  font-size: 3rem;
  margin-right: 35px;
  padding: 0;
}

.card {
  background-color: white;
  padding: 30px;
  margin: 0 auto;
  margin-top: 30px;
  width: 80%;
  box-shadow: 2px 5px 10px rgba(88, 88, 88, 0.534);
}

.mainDiv {
  min-height: 91vh;
}
.footer {
  background-color: black;
  margin-top: 45px;
}

.footer p {
  color: rgba(255, 255, 255, 0.74);
  text-align: center;
  padding: 10px;
  font-size: 1.4rem;
}

.footer a {
  color: rgba(255, 255, 255, 0.74);
  font-weight: 600;
}

.singlePostCard {
  background-color: white;
  padding: 45px;
  margin: 40px auto 0;
  width: 90%;
  border-bottom: 20px solid rgb(49, 20, 209);
  border-top: 20px solid rgb(49, 20, 209);
  box-shadow: 2px 5px 10px rgba(88, 88, 88, 0.534);
}

.backgroundCard {
  height: 310px;
  padding-top: 110px;
  text-align: center;
  color: ghostwhite;
  background-color: blueviolet;
}

.singleBgCard {
  height: 480px;
}

.singleNegMargin {
  margin-top: -360px;
}

.singleH1 {
  color: white;
}

.authorDetails {
  margin-bottom: 15px;
  font-weight: bold;
  line-height: 27px;
  font-size: 1.5rem;
}

.content {
  margin-top: 30px;
}

.badge {
  border-radius: 20px;
  background-color: rgb(49, 20, 209);
  color: rgb(253, 253, 253);
  padding: 2px 5px;
  font-size: 1.4rem;
}

.cardContent {
  border: 1px solid black;
  border-left: none;
  border-right: none;
  padding: 15px 0;
  margin: 15px 0 10px;
  color: blueviolet;
}

.cardContent h1 {
  font-size: 2rem;
}

.cardContent h2 {
  font-size: 1.7rem;
}

.cardContent p {
  font-size: 1.5rem;
}

div.small {
  font-size: 1.4rem;
  word-spacing: -3px;
  display: flex;
  flex-wrap: wrap;
}

.smallBadge {
  font-size: 1.2rem;
}

.content h1 {
  font-size: 2.9rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.content h2 {
  font-size: 2.3rem;
  margin-bottom: 10px;
}

.content p {
  font-size: 1.6rem;
  line-height: 32px;
}
.btnDiv {
  font-size: 1.4rem;
}

.mainH1Hr {
  width: 50%;
  height: 3px;
  background-color: blueviolet;
  border: none;
  margin: 0 auto;
}

h3 {
  text-align: center;
  margin: 15px auto 10px;
  font-size: 2.6rem;
  font-weight: 400;
}

h1.createH1 {
  margin-top: 0px;
  padding-top: 90px;
}

.createH1::after,
.topPaddingH1::after {
  content: ' ';
  display: block;
  width: 50%;
  height: 3px;
  background-color: blueviolet;
  margin: 10px auto;
}

.formCard {
  box-shadow: 2px 3px 10px rgba(88, 88, 88, 0.534);
  padding: 25px 35px;
  width: 70%;
  margin: 38px auto;
  background-color: white;
}

.btnDelete {
  background-color: rgb(255, 0, 0);
  padding: 5px 10px;
  border: 2px solid red;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  box-shadow: 1px 2px 10px rgba(100, 100, 100, 0.5);
  margin-left: 10px;
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}

.btnDelete:hover {
  background-color: rgb(212, 8, 8);
  border-color: rgb(212, 8, 8);
}

.btnDelete:active {
  box-shadow: none;
  background-color: rgb(255, 69, 69);
}
.btnUpdate {
  padding: 5px 10px;
  border-radius: 3px;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(28, 212, 11);
  box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in-out;
}

.btnUpdate:hover {
  background-color: rgb(28, 212, 11);
  color: white;
  box-shadow: 1px 2px 10px rgba(100, 100, 100, 0.5);
}
.btnUpdate:active {
  background-color: rgb(16, 150, 3);
  border: 2px solid rgb(16, 150, 3);
  box-shadow: 1px 2px 10px rgba(100, 100, 100, 0);
}
.btnSubmit {
  padding: 9px 35px;
  background-color: blue;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.btnSignin {
  font-size: 18px;
  background-color: rgb(28, 212, 11);
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  height: 36px;
  cursor: pointer;
}

.greenBtn {
  background-color: rgb(28, 212, 11);
}

.blueBtn {
  background-color: blue;
}

.greenBtn:active {
  background-color: rgba(28, 212, 11, 0.7);
}

.blueBtn:active {
  background-color: rgba(0, 0, 255, 0.568);
}

.loader {
  width: 100%;
  height: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  font-size: 1.8rem;
  margin-bottom: 7px;
}

input {
  padding: 8px 20px;
  font-size: 1.7rem;
  width: auto;
  opacity: 0.8;
  border: 1px solid rgba(0, 0, 0, 0.788);
}
.text-muted {
  opacity: 0.5;
}

.btn {
  display: block;
  padding: 10px 30px;
  font-size: 1.8rem;
  border-radius: 20px;
  width: fit-content;
  margin: 0 auto;
  box-shadow: 2px 4px 7px rgba(100, 99, 99, 0.575);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.about {
  background-color: orange;
}

.contact {
  background-color: rgb(85, 27, 221);
  color: white;
}

.contact:hover,
.contact:active {
  background-color: rgb(63, 11, 184);
  color: rgba(255, 255, 255, 0.822);
  box-shadow: 1px 2px 7px rgba(100, 99, 99, 0.185);
}

.about:hover,
.about:active {
  background-color: orangered;
  color: white;
  box-shadow: 1px 2px 7px rgba(100, 99, 99, 0.185);
}

.login .formCard {
  width: 50%;
  padding: 30px 50px;
}

.login .form-group {
  margin-bottom: 20px;
}

h1.topPaddingH1 {
  padding-top: 120px;
  margin-top: 0;
}

.loading {
  margin-top: 80px;
}
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.error h1 {
  font-size: 13.4rem;
}

.error p {
  font-size: 2.1rem;
  margin: 16px auto;
}

.error .btnSubmit {
  color: white;
  border-radius: 8px;
}

.sideNavContainer {
  display: flex;
  align-items: center;
}

.menu img {
  width: 35px;
  padding-top: 4px;
  margin-right: 20px;
  cursor: pointer;
}

.ml {
  margin: 13px 2px 13px auto;
  font-size: 1.7rem;
  padding: 10px 18px;
  background-color: rgb(85, 27, 221);
  color: white;
  border-radius: 20px;
  box-shadow: -1px 3px 5px rgb(83 81 81 / 87%);
  transition: all 0.1s ease-out;
}

.ml:active {
  transform: translateY(2px);
  box-shadow: 1px 1px 5px rgba(59, 59, 59, 0.178);
}

.whiteA {
  color: white;
}

.sideNav {
  height: 100vh;
  width: 65%;
  position: fixed;
  background-color: rgb(255, 255, 255);
  z-index: 200;
  box-shadow: 2px 0 7px rgba(0, 0, 0, 0.5);
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.sideNav.open {
  transform: translateX(0);
}

.backDrop {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.56);
}

.sideLogo {
  font-size: 4.4rem;
  font-weight: 700;
  padding: 10px 23px;
  background-color: blueviolet;
  margin: 0px 0px 60px;
  box-shadow: 0 2px 2px #000000c2;
}
.sideNav .nav-item {
  font-size: 2.4rem;
  padding-left: 27px;
  margin-top: 5px;
  font-weight: bold;
}

.aboutPara {
  width: 70%;
  font-size: 1.7rem;
  line-height: 30px;
  word-spacing: 10px;
  margin: 30px auto;
  text-align: center;
}

.activeLink {
  background-color: rgba(128, 128, 128, 0.432);
  box-shadow: inset -5px 0 0px blueviolet;
  color: blueviolet;
}

.bottomBorder {
  color: blueviolet;
  box-shadow: inset 0 -4px 0px blueviolet;
}

.whiteLink {
  color: rgba(255, 255, 255, 0.932);
}

.toTopLogo {
  position: fixed;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  bottom: 22px;
  right: 28px;
  z-index: 5;
  transform: scale(0);
  opacity: 0;
  transition: all 0.2s ease-in;
  cursor: pointer;
  padding: 3px;
  box-shadow: 2px 3px 6px rgba(48, 47, 47, 0.56);
  background-color: rgb(153 69 231);
}

.show {
  transform: scale(1);
  opacity: 1;
}

/* Media Qurries */

@media screen and (max-width: 1038px) {
  .formCard {
    width: 100%;
  }
}

@media screen and (max-width: 930px) {
  .card {
    width: 100%;
  }
  .login .formCard {
    width: 80%;
  }
  div.home {
    width: 75%;
  }
  ul .nav-item {
    padding: 21px 20px 19px;
    margin-right: 0;
  }
}

@media screen and (max-width: 740px) {
  .container {
    width: 90%;
  }

  div.logo {
    margin-right: 10px;
  }
  .singlePostCard {
    width: 96%;
  }
  .btn {
    padding: 12px 30px;
    font-size: 2rem;
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 50%;
  }
  .home p {
    font-size: 1.6rem;
    line-height: 20px;
  }
  .toTopLogo {
    bottom: 30px;
  }
}

@media screen and (max-width: 430px) {
  .container {
    width: 94%;
  }

  .singlePostCard {
    width: 100%;
    padding: 25px;
  }

  .content p {
    line-height: 25px;
  }

  .card {
    width: 96%;
  }
  .formCard {
    padding: 25px;
  }

  .login .formCard {
    width: 97%;
    padding: 40px 20px;
  }

  .btnSignin,
  .btnSubmit {
    width: 100%;
    padding: 8px 30px;
  }
  .btnSubmit {
    margin-top: 7px;
  }

  .footer p {
    padding: 13px 10px;
    font-size: 1.4rem;
  }
  .error .btnSubmit {
    width: auto;
    padding: 10px 30px;
  }
  .login .form-group {
    margin-top: 3px;
  }
  .aboutPara {
    width: 90%;
  }

  h1.createH1 {
    padding-top: 140px;
  }
  h1.topPaddingH1 {
    padding-top: 150px;
  }
}

@media screen and (max-width: 413px) {
  div.home {
    width: 90%;
  }

  .login input {
    padding: 10px 20px;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 360px) {
  .error h1 {
    font-size: 7rem;
  }
  .error p {
    font-size: 1.7rem;
    margin: 8px auto;
  }

  .error .btnSubmit {
    font-size: 1.5rem;
  }
  .backgroundCard {
    padding-top: 88px;
  }
}
